a {
 text-decoration: none;
 color: #6F9EAF;
 font-weight: bold;
}

a:hover {
 color: black;
}

.btn-blue {
  background-color: #b27b22;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
  background-color: black;
  color: white;
